<!DOCTYPE html>
<html>
<section id="footer">
  <div class="inner">
    <h2 class="major">Contact</h2>
    <form id="feedbackForm" action="https://formspree.io/f/xyzygapb" method="POST">
      <div class="fields">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="4"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send mail" /></li>
      </ul>
    </form>
    <ul class="contact">

      <li class="icon solid fa-envelope">
        <a href="#">nicolaspavon33@gmail.com</a>
      </li>

      <li class="icon brands fa-linkedin">
        <a href="https://www.linkedin.com/in/nicolas-pavon/">www.linkedin.com/in/nicolas-pavon</a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled Inc. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>

</html>