<!DOCTYPE html>
<html>
  <nav id="menuEng">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="index-eng.html">Home</a></li>
        <li>
          <a href="ABO.html">Classifying amazon products</a>
        </li>
        <li>
          <a href="kidney-eng.html">Predicting chronic kidney disease</a>
        </li>
        <li>
          <a href="heart-attack-eng.html">Predicting a second heart attack</a>
        </li>
        <li>
          <a href="iris_arboles_decision-eng.html"
            >Decision Trees for Classification of Iris Setosa</a
          >
        </li>
        <li>
          <a href="compras-eng.html">ANALYZING GOVERNMENT PURCHASES</a>
        </li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>
</html>
