<!DOCTYPE html>
<html>
  <nav id="menuEng">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li>
          <a href="kidney.html">PREDICTING CHRONIC KIDNEY DISEASE</a>
        </li>
        <li>
          <a href="heart-attack.html">Predicting a second heart attack</a>
        </li>
        <li>
          <a href="iris_arboles_decision.html"
            >Decision Trees for Classification of Iris Setosa</a
          >
        </li>
        <li>
          <a href="compras.html">ANALYZING GOVERNMENT PURCHASES</a>
        </li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>
</html>
