<!DOCTYPE html>
<html>
  <nav id="menuEsp">
    <div class="inner">
      <h2>Menú</h2>
      <ul class="links">
        <li><a href="index.html">Inicio</a></li>
        <li>
          <a href="kidney.html">Prediciendo la Enfermedad Crónica de Riñón</a>
        </li>
        <li>
          <a href="heart-attack.html"
            >Prediciendo Un Segundo Ataque al Corazón</a
          >
        </li>
        <li>
          <a href="iris_arboles_decision.html"
            >Árboles de Decisión Para Clasificación de Iris Setosa</a
          >
        </li>
        <li>
          <a href="compras.html">Compras Estatales</a>
        </li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>
</html>
